/* Reset Geral */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Corpo */
body {
  /* Valor responsivo */
  padding: 1rem;
}

/* Botão */
button {
  /* Cima/Baixo  Laterais
        0.6rem    1.2rem
*/
  padding: 0.6rem 1.2rem;

  /* Cor de fundo */
  background-color: #888;

  /* Cor de texto */
  color: #fff;

  /* Sem borda */
  border: none;

  /* Arredondamento */
  border-radius: 0.25rem;

  /* Cursor do mouse */
  cursor: pointer;

  /* Opacidade */
  opacity: 0.7;

  /* Tamanho do texto */
  font-size: 1rem;

  /* Margem pra cima */
  margin-top: 8px;

  /* Margem pra baixo */
  margin-bottom: 8px;
}

/* Botão para abrir modal */
#open-modal {
  background-color: #007bff;
}

/* Cabeçalho do Modal (Titulo e button fechar) */
#modal-header {
  /* Deixando elementos do cabeçalho lado a lado */
  display: flex;

  /* Espaçamento entre os elementos */
  justify-content: space-between;

  /* Alinhando elementos ao centro */
  align-items: center;

  /* Borda para cimo */
  border-bottom: #ccc 1px solid;

  /* Margem e Espaçamento interno */
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

/* Titulo */
#modal-header h2 {
  margin: 16px;
}

/* Botão Fechar Modal */
#close-modal:hover {
  background-color: #eb2c2c;
}

/* Lista Ordenada do Modal */
ol li {
  margin-bottom: 1rem;
}
ol li:hover {
  font-size: 2rem;
  cursor: pointer;
}

/* Lista do Modal */
#modal-list {
  margin: 40px;
}

/* Botão Enviar de Dentro do Modal */
#send-modal:hover {
  background-color: pink;
}

/* Atributo para preencher completamente a tela (Background do Modal) */
#fade {
  /* Posição fixada */
  position: fixed;

  /* Distancia */
  top: 0;
  /* Canto superior esquerdo */
  left: 0;

  /* Largura e Altura */
  width: 100%;
  height: 100%;

  /* Cor de fundo com opacidade */
  background-color: rgba(0, 0, 0, 0.4);

  /*  Tudo fica atras dele exceto o modal */
  z-index: 5;
}

/* Estrutura do Modal */
#modal {
  /* Posição fixada */
  position: fixed;

  /* Fixando Modal */
  left: 50%;
  top: 50%;
  z-index: 10;

  /* Cor de Fundo e Largula do Modal */
  background-color: #f0f8ff;
  width: 90%;

  /* Alinhando ao meio */
  transform: translate(-50%, -50%);

  /* Arredondamento */
  border-radius: 0.5rem;
}
